<h1> Threads </h1>

<button>
<%= link to: Routes.thread_path(@conn, :new), class: "btn" do%>
    New Thread
    <% end %>
</a>
</button>

<ul>
    <%= for thread <- @threads do %>
        <li>
        <%= link to: Routes.thread_path(@conn, :show, thread.id) do%>
            <%= thread.title %> - <%= link "Delete", to: Routes.thread_path(@conn, :delete, thread), method: :delete%>
        <% end %>
        </a>
        </li>
    <% end %>
</ul>
